@media (max-width:768px) {
    
    .container {
        width: 480px;
        padding:0px 0px;
    }
    .text {
        font-size: 0.6rem;
    }
    .col.col-right p {
        font-size:0.6rem;
    }
    
    h1 {
        font-size: 1.7rem;

    }
    h2 {
        font-size:1.3rem;
    }
    h3 {
        font-size:1rem;
    }
    
}

@media (max-width:479px) {
    .row {
        flex-wrap:wrap;
    }
    .lessons .col {
        width: 100%;
    }
    .steps .col {
        width: 100%;
    }
    .why-us .col-left {
        width: 100%;
    }
    
    .why-us .col-right {
        width: 100%;
    }

}